.header {
  position: sticky;
  top: 0;
  background-color: #3f88c5;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 50rem;
  height: 6rem;
  margin: auto;
  padding: 0 1rem;
  color: white;
}

.container h1 {
  line-height: 2rem;
}
